/*
This file is part of
Snappy Driver Installer.

Snappy Driver Installer is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Snappy Driver Installer is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Snappy Driver Installer.  If not, see <http://www.gnu.org/licenses/>.
*/

#include <windows.h>
#include <commctrl.h>
#include <winuser.h>
#include "resources.h"

IDI_ICON1       ICON        "icon.ico"
IDR_UP          RESFILE     "up.webp"
IDR_DOWN        RESFILE     "down.webp"
IDR_UP_H        RESFILE     "up.webp"
IDR_DOWN_H      RESFILE     "down.webp"
IDR_LICENSE     RESFILE     "gpl-3.0.txt"
IDR_THEME       RESFILE     "..\\tools\\SDI\\themes\\metallic.txt"
IDR_LANG        RESFILE     "..\\tools\\SDI\\langs\\english.txt"
IDR_INSTALL64   RESFILE     "install64.exe"
IDR_CLI_HELP    RESFILE     "CLI.txt"

#define SIZEY 270
#define LISTY SIZEY-53
#define POSY1 SIZEY-42
#define POSY2 SIZEY-22

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "drv.exe.manifest"

IDD_DIALOG1 DIALOGEX DISCARDABLE 0, 0, 340, 349
STYLE DS_MODALFRAME|WS_POPUP|WS_CAPTION|WS_SYSMENU|DS_CENTER
CAPTION "Snappy Driver Installer License"
{
    LTEXT           "Please read the following License Agreement carefully before using this program.",0,10,10,300,20
    DEFPUSHBUTTON   "&Decline", IDCANCEL, 10, 318, 70, 20
    PUSHBUTTON      "&Accept",  IDOK,     87, 318, 70, 20
    EDITTEXT        IDC_EDIT1, 10, 30, 320, 300-30, WS_HSCROLL|WS_VSCROLL|ES_MULTILINE|ES_READONLY
}

IDD_DIALOG2 DIALOGEX 0, 0, 383, SIZEY
FONT 8, "MS Shell Dlg"
STYLE DS_CENTER | DS_MODALFRAME |WS_CAPTION |WS_VISIBLE|WS_POPUP|WS_SYSMENU
CAPTION "Update"
{
    DEFPUSHBUTTON   "OK",     IDOK,     110+100, POSY2, 50, 14,BS_DEFPUSHBUTTON
    PUSHBUTTON      "Cancel", IDCANCEL, 163+100, POSY2, 50, 14
    PUSHBUTTON      "Accept", IDACCEPT, 216+100, POSY2, 50, 14

    PUSHBUTTON      "Check All",   IDCHECKALL,                        5, POSY1,  70, 14
    PUSHBUTTON      "Uncheck All", IDUNCHECKALL,                     77, POSY1,  70, 14
    PUSHBUTTON      "Check only needed for this PC", IDCHECKTHISPC,   5, POSY2, 142, 14
    CONTROL         "", IDLIST, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_REPORT, 5, 5, 369, LISTY, WS_EX_LEFT|4

    LTEXT           "Total download size: xx MB", IDTOTALSIZE, 210, POSY1, 150, 14
}
